html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

body {
	background:#0F48A3;
	box-shadow:inset 0 0 50px 25px #0A3C8C;
}

#container {
	width:1000px;
	margin:0 auto;
}

header, nav, section, footer {
	width:100%;
}

header {
	height:168px;
	background:#666666;
}

nav {
	height:32px;
	background:#2D2D2D;
}

section {
	height:500px;
}
section .left {
	float:left;
	width:250px;
	background:#D2D2D2;
	height:100%;
}
section .right {
	float:left;
	width:750px;
	background:#555555;
	height:100%;
}

footer {
	height:32px;
	background:#2D2D2D;
}