html, body {
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}
body {
	background:#194DBC;
	color:white;
	font-family:'Verdana', 'Arial', sans-serif;
}
a:link, a:visited {
	color:white;
	color:inherit;
}
a:hover {
	color:#FFAB09;
}
#container {
	width:100%;
	height:100%;
	overflow:hidden;
}