	/*Link to color scheme: http://colorschemedesigner.com/#3K61DuUBFw0w0 */
	/*Resets and containers*/
	html, body {
		width:100%;
		height:100%;
		padding:0;
		margin:0;
	}
	body {
		background:#194DBC;
		color:white;
		font-family:'Verdana', 'Arial', sans-serif;
	}
	a:link, a:visited {
		color:white;
		color:inherit;
	}
	a:hover {
		color:#FFAB09;
	}
	#container {
		width:1000px;
		margin:0 auto;
	}
	/*Header*/
	#header {
		height:200px;
		background-color:#4D7CDD;
		border-bottom-right-radius:5px;
		border-bottom-left-radius:5px;
	}
	#navigation {
		padding:0;
		margin:0;
		list-style-type:none;
		background-color:#082D7A;
		height:32px;
		position:absolute;
		top:168px;
		width:1000px;
		border-bottom-right-radius:5px;
		border-bottom-left-radius:5px;
		overflow:none;
	}
	#navigation li:first-of-type {
		margin-left:16px;
	}
	#navigation li {
		float:left;
		overflow:none;
	}
	#navigation li a {
		display:inline-block;
		padding:7px 16px;
		text-decoration:none;
	}
	#navigation li a:hover {
		color:#082D7A;
		background-color:white;
		box-shadow:inset 0 0 16px #555;
	}
	#navigation #search {
		float:right;
		margin-right:16px;
		height:32px;	
		overflow:hidden;
	}
	#navigation #search a {
		box-shadow:none;
		padding:0;
	}
	#navigation #search a img {
		box-shadow:none;
		padding:5px;
		margin:0;
		width:22px;
		height:22px;
	}
	#navigation #search a:hover {
		box-shadow:inset 0 0 16px #555;
	}
	#navigation #searchBox {
		height:32px;
		width:0px;
		background-color:#082D7A;
		border:none;
		cursor:pointer;
		background-image:url('../images/openSearchButtonLight.png');
		background-position:5px 5px;
		background-repeat:no-repeat;
		color:#082D7A;
		padding-left:32px;
		font-size:14px;
	}
	#navigation #closeSearchBox {
		position:absolute;
		top:0px;
		right:16px;
		width:16px;
		height:16px;
		cursor:pointer;
		padding:8px;
		display:none;
	}
	#searchDropdown {
		background-color:white;
		display:none;
		position:relative;
		top:200px;
		width:256px;
		left:1000px;
		margin-left:-272px;
		height:256px;
	}
	/*Main*/
	#main {	

	}
	/*Footer*/
	#footer {
		width:1000px;
/*		border-top-right-radius:5px;
		border-top-left-radius:5px;*/
		background-color:#082D7A;
		height:32px;
		position:absolute;
		top:100%;
		margin-top:-32px;
	}
	#footer div {
		text-align:center;
		padding:7px;
	}
