section {
	height:500px;
	width:100%;
}
section .left {
	float:left;
	width:250px;
	height:100%;
	background:rgba(0, 0, 0, 0.7);
	border-top-left-radius:16px;
	border-bottom-left-radius:16px;
}
section .right {
	float:left;
	width:750px;
	height:100%;
	background:rgba(0, 0, 0, 0.7);
	box-shadow:inset 0 0 200px 25px black;
	border-top-right-radius:16px;
	border-bottom-right-radius:16px;
}
section .fullWidth {
	float:left;
	width:1000px;
	height:100%;
	background:rgba(0, 0, 0, 0.7);
	box-shadow:inset 0 0 200px 25px black;
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border-bottom-right-radius:16px;
	border-bottom-left-radius:16px;
}
section .fullWidth #faculty {
	width:100%;
}
section .fullWidth #faculty th{
	cursor:pointer;
}