section {
	height:500px;
	width:100%;
}
section .left {
	float:left;
	width:250px;
	background:#D2D2D2;
	height:100%;
	box-shadow:inset 0 0 128px 16px #2D2D2D;
}
section .right {
	float:left;
	width:750px;
	background:#555555;
	height:100%;
	box-shadow:inset 0 0 128px 16px #2D2D2D;
}
